@import "./variables.scss";
.all {
  background-color: $backBackColor;
}

.detailsItCareer {
  max-width: 1200px;
  > div > div {
    // height: 300px;
    background-color: $color1;
    border-radius: 10px;
    padding: 10px;
  }
  .singleProject {
    border: 2px solid $color2;
    border-radius: 10px;
    margin: 10px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    > .nameAndTech {
      display: flex;
      flex-direction: column;
      align-items: center;
      .name {
        margin: 10px 0 20px 0;
      }
    }
    > .about {
      padding: 10px 0 10px 0;
      color: blue;
      width: 100%;
      text-align: center;
      > span {
        display: none;
        @media screen and (max-width: 425px) {
          display: unset;
        }
      }
      > #projectDetails {
        @media screen and (min-width: 768px) {
          position: fixed;
          top: 150px;
          right: 30px;
          width: 30%;
          // > * {
          //   width: 100%;
          // }
          background-color: $color1;
          padding: 10px;
          border-radius: 10px;
        }
      }
      // #closeProjectDetails{
      //   height: 20px;
      //   width: 200px;
      // }
    }
    > .linksWrapper {
      > a {
        text-decoration: none;
      }
      a:first-child {
        padding-right: 20px;
        font-size: larger;
        color: black;
        @media screen and (max-width: 400px) {
          padding-right: 5px;
        }
        img {
          height: 20px;
        }
      }
    }
    img {
      height: 40px;
      @media screen and (max-width: 425px) {
        height: 30px;
      }
    }

    .linksWrapper {
      width: 100%;
    }
  }
}
