@import "./variables.scss";
.all {
  background-color: $backBackColor;
}

.detailsOther {
  > div > div {
    // height: 300px;
    background: $bacgroundTransparentColor1;
    border-radius: 10px;
    max-width: 570px;
  }
  .detailsItem {
    background-color: $color1;
    border-radius: 10px;
    padding: 10px;
    > div {
      display: flex;
      flex-wrap: wrap;
      > div {
        border: 2px solid $color2;
        margin: 5px;
        padding: 0 10px;
        // height: 26px;
        border-radius: 13px;
        background-color: $color1;
        @include center-element;
      }
    }
    span {
      font-style: italic;
    }
  }
  .membership{
    img{
      height: 50px;
      margin: 5px ;
    }
  }
  a {
    text-decoration: none;
    color: black;
  }
}
