@import "./variables.scss";
.all {
  background-color: $backBackColor;
}

// .detailsWorkExpirience {
//   > div > div {
//     // height: 300px;
//     background-color: $color1;
//     border-radius: 10px;
//   }
// }
.detailsWorkExpirience {
  * {
    color: $textColor1;
  }
  hr {
    margin: 15px 0 0 0;
  }
  > div > div {
    // height: calc(100vh - 160px);
    background-color: $color1;
    border-radius: 10px;
    padding: 10px;
  }
  .singleWE {
    border: 2px solid $color2;
    border-radius: 10px;
    margin: 10px;
    display: flex;
    flex-direction: column;
    // display: -webkit-box;
    .singleWECompany {
      padding: 10px;
      border-bottom: 2px solid $color2;
      border-radius: 8px;
      @media screen and (max-width: 1500px) {
        padding-top: 35px;
        > a > img {
          top: -30px;
        }
      }
      // text-align: center;
      > a {
        position: relative;
        display: flex;
        @media screen and (max-width: 767px) {
          flex-direction: column;
        }
        > img {
          height: 30px;
          position: absolute;
          right: 0;
        }
      }

      // background-color: red;
      img {
        // width: 80px;
      }
    }
    .singleWEProyect {
      padding: 10px;
      > a:first-child {
        // background-color: $color3;
      }
      > a {
        display: flex;
        @media screen and (max-width: 767px) {
          flex-direction: column;
        }
      }
    }
    .year {
      width: 220px;
    }
    .name {
      width: -webkit-fill-available;
      padding-left: 5px;
    }

    * {
      text-decoration: none;
    }
    .singleWE {
      .eduTitle {
        font-size: large;
        font-weight: bold;
      }
    }
  }
  span {
    font-weight: bold;
  }
}
